body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main{
    display: flex   ;
}
.left{
    width: 250px;
    height: 100vh;
    background-color: #16009E;
    position: fixed;
}
.brand-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 10px;
   
}
.menu{
    margin-bottom: 20px;
}
.menu p{
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 40px;
}

.item{
    font-size: 20px !important;
    padding: 5px 0px;
    text-align: left !important;
    padding-left: 60px !important;



}
.item i{
    margin-right: 10px;
}
.item:hover {
    border-left: 5px solid white;
    padding-left: 55px !important;
    cursor: pointer;
    color: #d1cfdb;
}

.right{
    width: calc(100vw - 200px);
    margin-left: 210px;

}
.nav{
    height: 50px;
    margin: 10px;
    margin-left: 80px;
    border-bottom: 3px solid #e7dbdb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px!important;
    margin-top: 0px;
}

.menu a{
    text-decoration: none;
}
.nav p{
    font-weight: bold;
    color: #16009E;
    margin-left: 10px;
}
.nav-items{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile p{
    cursor: pointer;
    padding-top: 12px;
  
}
.search{
    background-color: #F4F3FC;
}
.search input{
    border: none;
    outline: none;
    background-color: #F4F3FC;
    padding: 3px;

}
.notification{
    color: #16009E;
    font-size: 20px;
}
.search button{
    background-color: #F4F3FC;
    border: none;
    color: #ddc1c1;
}
.role-form{
    display: flex;
    width: 85%;
    margin: 30px auto;
}

.role-form-3{
    display: flex;
    width: 83%;
   margin-left: 90px;
}


.input-div{
    width: 50%;
}

.input-div input{
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #F4F3FC;
    border-bottom: 4px solid #16009E;
    border-radius: 5px;
}

.input-div select{
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #F4F3FC;
    border-bottom: 4px solid #16009E;
    border-radius: 5px;
}

.input-div-full {
    width: 95%;
    padding: 10px;
    
    border: none;
    outline: none;
    background-color: #F4F3FC;
    border-bottom: 4px solid #16009E;
    border-radius: 5px;
}
.button{
    display: flex;
    width: 86%;
    justify-content: end;
    margin-bottom: 50px;
}
.button input{
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;

}
.colored-btn{
    background-color: #16009E;
    color: white;
}
#profile-menu{
    width: 150px;
    height: 170px;
    background-color: #16009E;
    position: fixed;
    right: 10px;
    top : 60px;
    z-index: 10;
    display: none;
    text-align: center;
    border-radius: 5px;
}

#profile-menu h4{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profile-menu a{
     
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#profile-menu a:hover{
     
    background-color: #2a16af;


}


.pm-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;

}
.pm-thead{
    background: rgb(180,175,202);
    background: linear-gradient(180deg, rgb(211 208 223) 2%, rgba(222,217,250,1) 15%, rgba(222,217,250,1) 85%, rgb(182 178 199) 98%);

    text-align: center;
    padding: 10px;
    border-radius:5px;
    /* box-shadow: -2px 7px 9px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 7px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 9px -3px rgba(0,0,0,0.75);
    margin-bottom: 10px; */

  
}
.pm-tbody{
    background-color: #F4F2FF;
    text-align: center;
    border-radius:5px;
    box-shadow: -1px 0px 13px 1px rgb(0 0 0 / 30%);
    -webkit-box-shadow: -1px -7px 5px -4px rgb(0 0 0 / 30%);
    -moz-box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.3);

  
}
.pm-thead th{
    padding: 10px;
    margin-bottom: 50px;
}
.pm-thead th:first-child { border-top-left-radius: 5px; }
.pm-thead th:last-child { border-top-right-radius: 5px; }
.pm-thead th:first-child { border-bottom-left-radius: 5px; }
.pm-thead th:last-child { border-bottom-right-radius: 5px; }


.pm-tbody td{
    padding: 10px;
}
.pm-tbody td:first-child { border-top-left-radius: 5px; }
.pm-tbody td:last-child { border-top-right-radius: 5px; }
.pm-tbody td:first-child { border-bottom-left-radius: 5px; }
.pm-tbody td:last-child { border-bottom-right-radius: 5px; }

.blue-btn{
    background-color: #16009E;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
}


.pm-tbody:hover{
    background-color: #e5e2f3;

}
.progress{
    background-color: #c0bdd9!important;
    height: 10px!important;
}


.pin {
    height: 130px;
    background-color: #2e10f3;
    margin: 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

.chart{
    background-color: #16009E;
}